@import url('//exherbo.org/style/main.css');

@font-face {
    font-family: "Distro";
    src: url("//exherbo.org/style/distro_bold-webfont.eot");
    src: url("//exherbo.org/style/distro_bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("//exherbo.org/style/distro_bold-webfont.woff2") format("woff2"),
         url("//exherbo.org/style/distro_bold-webfont.woff") format("woff"),
         url("//exherbo.org/style/distro_bold-webfont.ttf") format("truetype"),
         url("//exherbo.org/style/distro_bold-webfont.svg#distrobold") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('zebrapig-headbox.png');
}

body a:link {
    text-decoration: none;
}

table.versions th:first-child,
table.versions * th.newslot {
    text-align: right;
}

table.versions * td.platform-stable {
    background-color: #99ff99;
    border-top-color: #a1da91 !important;
    font-weight: bold;
}

table.versions * td.platform-unstable {
    background-color: #dfffdf;
    border-top-color: #a1da91 !important;
}

table.versions * td.platform-disabled {
    background-color: #ffd5d5;
    border-top-color: #da9191 !important;
}

table.versions * td.platform-unkeyworded {
    background-color: #f2f2f2;
    border-top-color: #dbdbdb !important;
}

span.unsupported {
    color: #ff00cc;
    font-weight: bold;
}

table.links-list * td {
    white-space: nowrap;
    padding: 0.2em 0.5em;
}

table.packages * th {
    white-space: nowrap;
}

table.repositories * th {
    white-space: nowrap;
}

table.metadata * th {
    white-space: nowrap;
}

th {
    vertical-align: top;
}

.repo-status-core {
    font-style: normal;
    font-weight: bold;
}

.repo-status-third-party {
    font-style: italic;
    font-weight: normal;
}

.repo-status-experimental {
    font-style: oblique;
    font-weight: normal;
}

.repo-status-dev {
    font-style: normal;
    font-weight: normal;
}

.navbar-form {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.searchbox {
    width: 25rem !important;
}

table.links-list tr:first-child>td {
    border-top: transparent;
}

@media (max-width: 992px) {
    .searchbox {
        width: 100% !important;
    }

    table.links-list tr:first-child>td {
        border-top: 1px solid #ddd;
    }

    table.links-list tr:first-child>td:first-child {
        border-top: transparent;
    }

    td {
        display: block;
        
    }

    table.links-list {
        font-size: 28px;
    }
    
}

@media (max-width: 1199px) {
    .platform-stable, .platform-unstable, .platform-disabled, .platform-unkeyworded {
        display: table-cell !important;
    }
}

@media (max-width: 992px) {
    table.links-list>tr>td {
        display: block;
    }
}

@media not all and (max-width: 1199px) {
    table.links-list tr:first-child>td {
        border-top: transparent;
    }
}

.table-responsive {
    border: none !important;
    overflow-y: hidden; /* why does this happen? */
}

table {
    overflow-x: hidden;
    border-spacing:0
}

.links-list td a:link {
    display: block;
    padding: 10em;
    margin: -10em;
}

.links-list td a:hover {
    background-color: #eee
}

.links-list td {
    overflow: hidden;
}

td.best-id {
    font-weight: bold;
}

.panel-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0px;
    border-bottom: 0px;
}

tr:first-child th,
tr:first-child td {
    border-top: 0px !important;
}
