<h2>Packages</h2>

<table class="links-list">
    <% package_names.each do | name | %>
        <tr>
            <th><a
                    href="<%=h package_href(name) %>"
                    title="<%=h package_summary(name) %>"><%=h name %></a>
            </th>
            <td><%=h package_summary(name) %></td>
        </tr>
    <% end %>
</table>

