<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exherbo - <%=h title %></title>
        <link rel="stylesheet" type="text/css" href="<%= top_uri %>summer.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <% if feature? :twitter %>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@exherbo"/>
		<!-- <meta name="twitter:creator" content=""/> -->
        <meta name="twitter:title" content="<%= title %>"/>
        <meta name="twitter:description" content="<%= summary %>"/>
		<!-- <meta name="twitter:image" content=""> -->
        <% end %>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-target="#collapse" data-toggle="collapse" type="button">
                        <div class="fa fa-bars"></div>
                    </button>
                    <a class="navbar-brand distro" href="//exherbo.org/">
                        <img alt="Zebrapig" class="zebrapig" src="//exherbo.org/img/zebrapig-head.png" title="I AM ZEBRAPIG" /> Exherbo
                    </a>
                </div>
            <div class="collapse navbar-collapse" id="collapse">
                <div class="nav navbar-nav navbar-left navbar-form">
                    <form method="get" action="//www.google.com/search">
                        <input type="search" class="form-control searchbox" placeholder="Search for packages..." name="q" maxlength="255" autofocus />
                        <input type="hidden" name="sitesearch" value="git.exherbo.org/summer" />
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right navbar-links">
                    <li><a href="//git.exherbo.org/" title="Git repositories"><div class="fa fa-git"><!-- --></div><div class="visible-xs-inline"> Git</div></a></li>
                    <li><a href="http://gerrit.exherbo.org/" title="Code review"><div class="fa fa-code"><!-- --></div> Gerrit</a></li>
                    <li><a href="//git.exherbo.org/summer/"><div class="fa fa-cubes"><!-- --></div> Packages</a></li>
                </ul>
            </div>
        </nav><div class='container'>

        <div id="body">
            <h1><%=h title %></h1>
